body  {
	margin: 0;
	font-family: 'Gotham Pro';
	font-size: 12px;
}

a  {
	text-decoration: none;
}

img  {
	max-width: 100%;
	height: auto;
}

div, section, h1, h2  {
	margin: 0;
}

/*Header*/

.header  {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap-reverse;
	margin: 32px 47px 43px;
}

.header__logo  {
	display: none;
}

.left-side  {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.menu__link, .right-side__login, .right-side__cart, .right-side__lang  {
	margin: 0 0 0 35px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: black;
}

.right-side  {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap-reverse;
}

.search  {
	border-bottom: 1px solid #000;
}

.search__area  {	
	border: none;
}

.right-side__cart-items  {
	width: 1.4em;
	height: 1.4em;
	margin-left: 5px;
	line-height: 1.4em;
	vertical-align: middle;
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 10px;
	background-color: #000;
	border-radius: 60px;
}

.right-side__lang  {
	padding: 0;
	border: none;
	background: none;
}

.burger {
	display: none;
	width: 61px;
	height: 25px;
}

.burger span  {
	height: 9px;
	width: 100%;
	background-color: #000;
}


.top-img  {
	background: url('../pics/header.png');
	background-size: cover;
	margin: 0 47px;
	margin-bottom: 60px;
	padding: 5.21% 5%; 
}

.top-img__title  {
	width: 25%;
	font-size: 30px;
	text-transform: uppercase;
	color: #fff;
}

.top-img__link  {
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}


.arrow  {
	margin-left: 0.5em;
	display: inline-block;
	position: relative;
	width: 4em;
	height: 0.5em;
	vertical-align: bottom;
	border-top: 1px solid #fff;
}

.arrow:before  {
	content: '';
	display: inline-block;
	position: absolute;
	top: -3px;
	right: -2px;
	width: 6px;
	height: 1px;
	background-color: #fff;
	transform: rotate(45deg);
}

.arrow:after  {
	content: '';
	display: inline-block;
	position: absolute;
	top: 1px;
	right: -2px;
	width: 6px;
	height: 1px;
	background-color: #fff;
	transform: rotate(-45deg);
}

.stories-arrow  {
	margin-left: 0.5em;
	display: inline-block;
	position: relative;
	width: 4em;
	height: 0.5em;
	vertical-align: bottom;
	border-top: 1px solid #000;
}

.stories-arrow:before  {
	content: '';
	display: inline-block;
	position: absolute;
	top: -3px;
	right: -2px;
	width: 6px;
	height: 1px;
	background-color: #000;
	transform: rotate(45deg);
}

.stories-arrow:after  {
	content: '';
	display: inline-block;
	position: absolute;
	top: 1px;
	right: -2px;
	width: 6px;
	height: 1px;
	background-color: #000;
	transform: rotate(-45deg);
}

.page-title, .content__title, .promo__title, .article__title {
	font-size: 22px;
	text-transform: uppercase;
	text-align: center;
}



.content__title  {
	color: #000;
}

.content__goods, .goods  {
	display: flex;
	justify-content: space-around;
	margin: 0 55px 55px;
}

.goods__items, .items  {
	position: relative;
	display: flex;
	flex-direction: column;
}

.goods__items:not(:first-child) {
	margin-left: 80px;
}

.goods__items:not(:first-child):before { 
	position: absolute;
	top: 20%;
	left: -16%;
	content: '';
	width: 2px;
	height: 100px;
	background-color: #dfdfdf;
}

.items__pic  {
	max-width: 188px;
	width: 92%;
}

.items__name  {
	color: #000;
	font-weight: normal;
	font-size: 12px;
}

.items__price  {
	max-width: 230px;
	margin-top: -7px;
	font-weight: bold;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
}



.color-box  {
	display: flex;
	align-items: center;
}

.color-box__item  {
	padding: 0;
	margin-left: 8px;
	width: 7px;
	height: 7px;
	background: none;
	border: none;
	border-radius: 50%;
	cursor: pointer;
}

.color-box__item--grey  {
	background-color: #c4c4c4;
}

.color-box__item--beige  {
	background-color: #e29d69;
}

.color-box__item--black  {
	background-color: #0e1211;
}

.color-box__item--red  {
	background-color: #b62e3c;
}

.color-box__item--yellow  {
	background-color: #fdb431;
}

.color-box__item--brown  {
	background-color: #762e31;
}

.color-box__item--navy  {
	background-color: #41479b;
}

.color-box__item--blue  {
	background-color: #257da9;
}

.color-box__item--active  {
	width: 9px;
	height: 9px;
}


.promo  {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 47px 80px;
	padding: 70px 35px;
	background-color: #000;
}

.promo__video  {
	flex: 2.3;
}

.promo__video img  {
	width: 100%;
	border: 6px solid #ddd;
}

.promo__description  {
	flex: 1;
	margin-left: 45px;
	color: #fff;
}

.promo__title  {
	margin-bottom: 0.8em;
	text-align: left;
}

.promo__text  {
	font-size: 14px;
	font-weight: 200;
	padding-bottom: 18px;
}

.promo__link  {
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
}

.article  {
	padding-bottom: 10%;
}

.article__title  {
	margin-bottom: 40px;
}

.article__stories, .stories  {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 47px;
}

.stories__first, .stories__second, .stories__third  {
	flex: 1;
}

.stories__second, .stories__third  {
	margin-left: 55px;
}

.stories__pic  {
	width: 100%;
}

.stories__subtitle  {
	font-size: 18px;
	color: #000;
}

.stories__text  {
	font-size: 14px;
	font-weight: normal;
	padding-bottom: 18px;
}

.stories__footer  {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.stories-footer__link  {
	color: #000;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

.stories-footer__date  {
	color: #000;
	opacity: 0.3;
	font-weight: bold;
}




.gallery  {
	padding: 0 47px 85px;
}

.gallery__tag  {
	margin-bottom: 8px;
	max-width: 1080px;
	text-transform: uppercase;
	text-align: right;
	color: #000;
	opacity: 0.3;
}

.gallery__pics  {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
}

.gallery__pics img  {
	margin: 0;
	padding: 0;
	border: none;
}

.gallery-pics__icon:nth-child(8)  {
	display: none;
}

.footer  {
	background-color: #000;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #fff;
	font-size: 12px;
}

.footer-nav  {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 auto;
	padding: 70px 0 45px;
}

.footer-menu:not(:first-child)  {
	margin-left: 60px;
}

.footer-menu__title  {
	display: block;
	padding-bottom: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
}

.footer-menu__link  {
	display: block;
	margin: 6px 0;
	color: #fff;
	font-size: 12px;
	font-weight: lighter;
}

.footer-menu__button  {
	margin: 1em 0;
	width: 137px;
	height: 30px;
	color: #fff;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
	background-color: inherit;
	border: 1.5px solid #fff;
	cursor: pointer;
}

.footer-menu__social, .social  {
	display: block;
	margin-top: 20px;
}

.social__fb, .social__tw, .social__insta  {
	margin-right: 25px;
}

.footer__bottom  {
	display: flex;
	margin: 33px;
}

.bottom__address  {
	flex: 1;
	text-align: center;
	font-size: 12px;
	font-style: normal;
}

.bottom__web-hero  {
	display: inline-block;
	width: 94px;
	height: auto;
}

@media(min-width: 1100px)  {
	.wrapper  {
		max-width: 1030px;
		margin: auto;
	}
}

@media(max-width: 1060px)  {
	.promo__text  {
		font-size: 13px;
	}

	.stories__text  {
		font-size: 13px;
	}
}

@media(max-width: 1000px)  {

	.left-side, .right-side  {
		display: none;
	}

	.header  {
		margin: 40px 35px;
	}

	.header__logo  {
		display: block;
	}

	.burger  {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.top-img  {
		margin: 0 0 67px;
	}

	.top-img__title  {
		width: 46%;
		font-size: 50px;
	}

	.top-img__link  {
		font-size: 20px;
	}

	.content  {
		margin: 0;
	}

	.page-title  {
		font-size: 30px;
		text-align: center;
	}

	.goods  {
		margin: auto;
		justify-content: space-around;
	}

	.items__name  {
		font-size: 20px;
	}

	.items__price  {
		font-size: 25px;
	}

	.color-box__item, .color-box__item--active  {
		width: 20px;
		height: 20px;
		margin-left: 5px;
	}

	.goods__items:not(:first-child):before { 
		display: none;
	}

	.items:nth-child(3), .items:nth-child(4)  {
		display: none;
	}

	.promo  {
		margin: 0;
		flex-direction: column-reverse;
		align-items: center;
		background: linear-gradient(2.6deg, #000 88%, #fff 88%);
	}

	.promo__description  {
		margin: 0 0 1em;
		padding-top: 92px;
	}

	.promo__text  {
		font-size: 20px;
		text-align: center;
	}

	.promo__link  {
		display: none;
	}

	.promo__video  {
		width: 90%;
	}

	.article  {
		margin: 0;
		padding-bottom: 17%;
		color: #fff;
		background-color: #000;
	}

	.stories__second  {
		margin-left: 56px;
	}

	.stories__third  {
		display: none;
	}

	.stories__subtitle  {
		color: #fff;
		font-size: 25px;
	}

	.stories__text  {
		font-size: 20px;
	}

	.stories-footer__link  {
		color: #fff;
		font-size: 15px;
	}

	.stories-arrow  {
		border-top: 1px solid #fff;
	}

	.stories-arrow:before  {
		background-color: #fff;
	}

	.stories-arrow:after  {
		background-color: #fff;
	}


	.stories-footer__date  {
		color: #fff;
		font-size: 15px;
		opacity: 1;
	}

	.gallery  {
		padding: 0 44px 124px;
		background: linear-gradient(2.6deg, #fff 55%, #000 55%);
	}

	.gallery__tag  {
		color: #fff;
		opacity: 1;
		font-size: 30px;
	}

	.gallery__pics  {
		flex-wrap: wrap;
	}

	.gallery-pics__icon:nth-child(8)  {
		display: block;
	}

	.gallery-pics__icon  {
		flex-basis: 160px;
	}

	.gallery-pics__icon img  {
		width: 100%;
		height: 101%;
	}

	.footer-nav  {
		padding: 60px 45px 75px;
	}

	.footer-menu  {
		margin: 0;
	}

	.footer__bottom  {
		margin-bottom: 33px;
	}

	.bottom__web-hero  {
		display: none;
	}

@media(max-width: 500px)  {
	.header  {
		margin: 24px 20px 26px;
	}

	.header__logo  {
		width: 104px;
		height: 22px;
	}

	.burger  {
		width: 41px;
		height: 16px;
	}

	.burger  span  {
		height: 5px;
	}

	.top-img  {
		margin: 0 0 38px;
	}

	.page-title, .top-img__title, .content__title, .stories__title  {
		font-size: 20px;
	}

	.top-img__link  {
		font-size: 12px;
	}

	.goods  {
		margin: 0 20px;
	}

	.items:nth-child(2)  {
		display: none;
	}

	.items__name  {
		font-size: 15px;
	}

	.items__price  {
		font-size: 20px;
	}

	.color-box__item, .color-box__item--active  {
		width: 15px;
		height: 15px;
		margin-left: 5px;
	}

	.promo  {
		background: linear-gradient(2.6deg, #000 82%, #fff 82%);
	}

	.promo__description  {
		padding-top: 63px;
	}
	
	.promo__text  {
		font-size: 14px;
	}

	.stories__second  {
		display: none;
	}

	.stories__subtitle  {
		font-size: 20px;
	}

	.stories__text  {
		font-size: 14px;
	}

	.stories-footer__link  {
		font-size: 12px;
	}

	.stories-footer__date  {
		font-size: 12px;
	}

	.gallery  {
		margin-bottom: 85px;
		padding: 0 20px;
	}

	.gallery__tag  {
		font-size: 25px;
		text-align: center;
	}

	.gallery-pics__icon  {
		flex-basis: 140px;
	}

	.gallery-pics__icon:nth-child(8), .gallery-pics__icon:nth-child(4)  {
		display: none;
	}

	.footer-nav  {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-bottom: 0;
	}

	.footer-menu:not(:first-child)  {
		margin: 0;
	}

	.footer-menu:not(:last-child)  {
		padding-bottom: 52px;
	}

	.footer-menu__title, .footer-menu__link  {
		font-size: 15px;
		text-align: center;
	}

	.footer-menu__button  {
		transform: translateX(25%);
		font-size: 12px;
	}

	.social  {
		display: flex;
		justify-content: center;
		margin-top: 110px;
	}

	.social__fb, .social__tw, .social__insta  {
		margin-right: 30px;
	}

}