@font-face  {
	font-family: 'Gotham Pro';
	src: url('fonts/GothamPro.woff');
	font-weight: normal;
	font-style: normal;
}

@font-face  {
	font-family: 'Gotham Pro';
	src: url('fonts/GotmaPro-Bold.woff');
	font-weight: bold;
	font-style: normal;
}

/*Top panel*/

.panel  {
	display: flex;
	
}